@tailwind base;
@tailwind components;
@tailwind utilities;

.css_navbar {
    padding: 10px;
}

.css_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 150px;
    text-align: center;
    /* border: 1px solid grey; */
    padding: 10px 0px;
    border-radius: 5px;
    transition-property: background-color;
    transition: all, 200ms;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.css_button:hover {
    font-weight: bold;
    background-color: black;
    color: white;


}

.css_shared_Color {
    color: #FF5555;
}

.css_linear{
    background: radial-gradient(circle at top left, #FF5555, #FDE598 70%, gray 100%);

}




/* Styles for small screens (sm) */
@media (max-width: 426px) {
    .css_button {
        width: 110px;
        padding: 8px 0px;
    }
}